* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header, footer {
    background-color: rgba(11, 19, 85, 0.966);
    padding-top: 16px;
    color: aliceblue;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header h1 {
    font-style: italic;
}

header >.container,
footer >.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:16px ;
}
footer li {
    list-style-type: none;
    margin-left: 16px;
}

footer li img {
    height: 32px;
}

.container-flex {
    display: flex;
}

.menu-hamburger {
    width: 32px;
    cursor: pointer;
}

.menu-hamburger span {
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    margin-bottom: 4px;
}

nav {
    background-color: #3366e63f;
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    /*text-transform: uppercase; */
}

nav li a {
    color: white;
    text-decoration: none;
}

#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
    border-bottom: 2px solid #427ff1;
    font-style: italic;
}

section p {
    padding-top: 12px;
}

.lista-veiculos li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}
.lista-veiculos li img{
    max-width: 100%;
}

.lista-veiculos li h3 {
    margin: 16px 0;
}
.item-central {
    margin: 0 5%;
}
button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: rgb(56, 186, 56);
    color:white;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

.price {
    margin: 16px 0;
    display: block;
}

.price del{
    color: #ccc;
    font-size: 14px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    resize: none;
    height: 120px;
}

form {
    max-width: 360px;
}

form button {
    max-width: 120px ;
}

@media screen and (max-width: 767px) {
    #carrousel-imagens {
        display: none;
    }

    .menu-hamburger {
        display: none;
    }

    header h1 {
        margin-left: 40px;
    }
    nav {
        background-color: #3366e63f;
        padding: 16px 0;
        display: block;
    }
    
    nav li {
        list-style: none;
        display: inline;
        margin-right: 17px;
        font-size: 18px;
        font-weight: bold;
        /*text-transform: uppercase; */
    }

    nav ul {

    }
    
    nav li a {
        color: white;
        text-decoration: none;
    }
    header .container{
        max-width: 90%;
    }
    header {
        margin-bottom: 0px;
        position: static;
    }
    section .container {
        max-width: 90%;
        flex-direction: column;
    }

    #sobre-a-loja img {
        max-width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    section#sobre-a-loja {
        padding: 0px 0px;
        margin-bottom: 40px;
        margin-top: 16px;
    }

    .loja {
        max-width: 100%;
        margin-right: 0px;
        margin-bottom: 18px;
    }
    #sobre-a-loja h2 {
        margin: 0 0 0px;
    }
    #par1{
        margin-top: 16px;
    }

    #emDestaque {
        padding: 0 0px;
    }
    
    

}